
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #cae983;
  --secondary: #DDA15E;
  --tertiary: #BC6C25;
  --light: #FEFAE0;
  --dark: #606C38;
  --darker: #283618;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-three: calc(3rem);
  --spacing-five: calc(2.5rem);
  --spacing-eight: calc(1.6rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--darker);
  color: var(--light);
  font-family: Verdana, sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

header {
  background: var(--dark);
  padding:10px;
}

header a {
  color: var(--light);
}

footer {
  background: var(--dark);
  padding:10px;
  justify-content: center;
}

footer a {
  color: var(--light);
  padding: 0px 20px;
}

footer img {
  max-width: 100px;
  max-height:85px;
  width: auto;
  height: auto;
}

#img2 {
  padding-top: 10px;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
    max-width:250px;
    max-height:280px;
    width: auto;
    height: auto;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 10%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a {
  font-weight: normal;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 300px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-3 {
  margin-right: var(--spacing-three);
  margin-left: var(--spacing-three);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-8 {
  margin-top: var(--spacing-eight);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  box-shadow: 0px 0px 35px 10px rgba(236, 6, 6, 0.2);
  transition: 0.3s;
  max-width:450px;
  max-height:460px;
  border-radius: 10px;
  text-align: center;
  background: var(--dark);
}

.card:hover {
  box-shadow: 0px 0px 3px 10px rgba(236, 6, 6, 0.2);
}

.img-thumbnail {
  max-width: 500px;;
  max-height:500px;
  width: auto;
  height: auto;
  cursor: pointer;
  margin: auto;
  padding: 0px 40px;
}

.modalBackdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: var(--darker);
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 960px;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

button {
	border-color: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0px;
	padding: 10px 15px;
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.navActive {
  color: var(--secondary);
}

.marginbottom {
  margin-bottom: 343px;
}